.collapsible {
    box-shadow: none;
    border: none;
    overflow: hidden;

    &-header {
        background-color: transparent !important;
    }
}

.faq {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media(max-width:360px) {
        min-height: 200vh;
    }

    @media(max-width:500px) {
        height: 160vh;
    }

    &__header {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 50px;

        @include media1200px {
            // margin-top: 250px;
        }
    }

    &__container {
        // margin-bottom: 450px;

        &-header {
            font-size: 2rem;
            font-weight: 600;
            color: #4E4E4E;
            transition: .3s;

            &.active {
                color: #84C225;
                text-decoration: underline;
            }

            span {
                margin-right: 5px;
            }
        }

        &-description {
            font-size: 1.5rem;
        }
    }

    &__image {
        position: absolute;
        top: 120px;
        right: 130px;

        @include media1200px {
            display: none;
        }
    }
}